<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="log/test.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10000KB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] (%t) %m%n" />
		</layout>
	</appender>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] (%t) %m%n" />
		</layout>
	</appender>

	<category name="org.apache">
		<priority value="INFO" />
	</category>

	<category name="javax">
		<priority value="INFO" />
	</category>

	<category name="com.sun">
		<priority value="INFO" />
	</category>

	<category name="sun">
		<priority value="INFO" />
	</category>

	<category name="javax.xml.bind">
		<priority value="INFO" />
	</category>

	<category name="org.springframework">
		<priority value="WARN" />
	</category>

	<category name="org.example.petstore" additivity="false">
		<priority value="DEBUG" />
		<appender-ref ref="FILE" />
	</category>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

</log4j:configuration>
